.places__link {
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  margin: 0;
  text-decoration: none;
  border-bottom: 1px #FFFFFF solid;
  transition: opacity 0.2s ease-out;
}

.places__link:hover {
  opacity: 0.6;
}
