.footer__links {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(5, min-content);

  gap: 19px;
}
@media screen and (max-width: 767px) {
  .footer__links {
    display: flex;
    flex-direction: column;
    gap: 0;
  }
}
