.footer__copyright {
  min-width: max-content;
  grid-column: 7;
  font-size: 14px;
  line-height: 16px;
  align-self:center;
}
@media screen and (max-width: 767px) {
  .footer__copyright  {
    font-size: 14px;
    line-height: 14px;
    padding: 16px 0 0;
    align-self:flex-start;
  }
}
