.places__place {
  margin: 0 auto;
  padding: 0 0 80px;
  display: grid;
  gap: 48px 40px;
  /* justify-items: center;
 align-items: stretch; */
  grid-template-columns: 460px 484px;
  /* grid-template-rows: max-content min-content min-content; */
  /* grid-template-rows: repeat(3, fit-content(100%)); */
  grid-template-rows: repeat(2, min-content);
}
